<div class="contact-info" id="contact">
	<!--<img src="/images/other/top-smudge.svg" alt="" />-->
	
	<h2>Contact Us</h2>
	<p>We'd Love To Talk</p>
	{% if site.data.info.phone %}
		<section>
			<strong><img src="/images/icon/phone.svg" alt="Phone" />Phone</strong>
			<a href = "tel: {{ site.data.info.phone }}">{{ site.data.info.phone }}</a>
		</section>
	{% endif %}
	<!--<p>-->
	<!--	<strong><img src="/images/icons/marker.svg" alt="Address" />Address</strong>-->
	<!--	<a href="{{ site.data.info.map_link }}" target="_blank">{{ site.data.info.address }}<br />{{ site.data.info.city }}, {{ site.data.info.state }} {{ site.data.info.zip }}</a>-->
	<!--</p>-->
	{% if site.data.info.email %}
		<section>
			<strong><img src="/images/icon/mail.svg" alt="Email" /> Email</strong>
			<a href ="mailto: {{site.data.info.email}}">{{ site.data.info.email }}</a>
		</section>
	{% endif %}
	
	
	
	
	
</div>