<div class="contact-info" id="contact">
	
	<h2>Contact Us</h2>
	<p>We'd Love To Talk</p>
	{% if site.data.info.phone %}
		<section>
			<strong><img src="/images/icon/phone.svg" alt="Phone" />Phone</strong>
			<a href = "tel: {{ site.data.info.phone }}">{{ site.data.info.phone }}</a>
		</section>
	{% endif %}

	{% if site.data.info.email %}
		<section>
			<strong><img src="/images/icon/mail.svg" alt="Email" /> Email</strong>
			<a href ="mailto: {{site.data.info.email}}">{{ site.data.info.email }}</a>
		</section>
	{% endif %}
	
</div>