<nav>
	<a href="#banner" class="logo"><img src="/images/logos/dragon.png" alt="" />
	<img src="/images/logos/logo.svg" alt="" /></a>
	<a href="/" >Home</a>
	<a href="#about">About</a>
	<a href="#pricing">Pricing</a>
	<a href="#contact">Contact</a>
	
	
	<!--{% assign navitems = site.main-pages | sort: 'navorder'  %}
	{% for item in navitems %}
		<a href="{{ item.url }}" {% if page.url contains item.navclass %}class="selected"{% endif %} {% if item.hide_from_nav == true %}style="display: none;"{% endif %}>{{ item.navtitle }}</a>
	{% endfor %}-->
	
	
	<a href="https://www.facebook.com/mireu.matialarts/photos" class="social" target="_blank"><img src="/images/icon/fb.svg" alt="" /></a>
	<!--<a href="#" class="social" target="_blank"><img src="/images/icon/ig.svg" alt="" /></a>-->
	<a href="https://billing.stripe.com/p/login/aEU16v9WA2tD7IsaEE" >My Subscription</a>
	
	<a href="https://buy.stripe.com/3csg357i24xn9AAfYY" class="cta">Sign Up</a>
</nav>