---
layout: default
permalink: /
navtitle: Home
navclass: /
navorder: 1
hide_from_nav: true
banner_headline:
banner_logo_path: /images/logos/dragon-logo.png
banner_animation: 
banner_image_path: /images/photos/banner.jpeg
banner_video_path: /videos/bg.mp4
video_id:
features:
  - feature_title: 
    feature_image_path: 
    bg_image:
    feature_description_html: >-
      <p></p>
    button_url: #
    button_text: Learn More
photos:
  - photo_path:
---
{% include banner.html %}


<article style="text-align: center;" id="about" class="featured-article">
	<!--<h3>About Me</h3>-->
	<p class="editable">Mireu Martial Arts is a a Taekwondo dojang overseen by 3rd Level Blackbel Master Tippets.</p>
	<p>Taekwondo, Tae Kwon Do or Taekwon-Do is a Korean form of martial arts involving punching and kicking techniques, with emphasis on head-height kicks, spinning jump kicks, and fast kicking techniques. The literal translation for tae kwon do is "kicking", "punching", and "the art or way of".</p>
</article>

<div class="pricing" id="pricing">
	<script async src="https://js.stripe.com/v3/pricing-table.js"></script>
	<stripe-pricing-table pricing-table-id="prctbl_1MGntyHKqYhpVBm3pXYl8J90"
publishable-key="pk_test_51MGn05HKqYhpVBm3temk2bv6Myb4OeqElmt2QDYrnukdFzxiH8aVyAU0nSLOMFF2fUsNYdjWID3vmOpzNiGQeatw004ChfUQtR">
	</stripe-pricing-table>
</div>


<!--{% include contact-info.html %}-->



<script type="text/javascript">
	$(window).scroll(function(){
	    if ($(this).scrollTop() > 50) {
	       $('header').addClass('dark');
	    } else {
	       $('header').removeClass('dark');
	    }
	});
</script>


