---
layout: default
permalink: /
navtitle: Home
navclass: /
navorder: 1
hide_from_nav: true
banner_headline:
banner_logo_path: /images/logos/logo-2.svg
banner_animation: 
banner_image_path: /images/photos/elisa-wall-6.jpeg
banner_video_path: 
video_id:
features:
  - feature_title: My Story
    feature_image_path: /images/photos/elisa-wall-3.jpg
    bg_image:
    feature_description_html: >-
      <p>My life began as a child of a polygamist family who was members of the Morman offshoot sect known as the Fundamentalist Church of Jesus Christ of Latter-Day Saints (FLDS Church), which held the practice of polygamy central to their beliefs. Early in its history, the people of the FLDS broke away from mainstream society, and with each generation, members became more secluded and entrenched in the religious instruction of the leaders.</p>
    button_url: /my-story/
    button_text: Learn More
  - feature_title: Speaking
    feature_image_path: /images/photos/elisa-wall-2.jpg
    bg_image:
    feature_description_html: >-
      <p>I am thrilled that you are interested in having me speak at your organization, conference, special event, or women’s group. As an avid storyteller, I’d like to be more than just a speaker at your event; I’d like to partner with your organization's message and purpose to inspire and transform audiences. By sharing my story of overcoming adversity, standing up to tyranny, and reclaiming myself through healing, I will work to inspire attendees to embrace their true voice, motivate their purpose, and fuel the change in their lives that they wish to see.</p>
    button_url: '#contact'
    button_text: Contact Me
  - feature_title: Life Now
    feature_image_path: /images/photos/elisa-wall-1.jpg
    bg_image:
    feature_description_html: >-
      <p>In the five years since moving to the twin cities of Short Creek,  which were once run by the FLDS, as a free independent woman has been an incredible journey. Being a part of rebuilding my community has also rebuilt me in so many ways. It allowed me to face my darkest demons and grow beyond the events of life, rekindled friendships of my past, and forged new ones with the many amazing people here doing really incredible work.</p>
    button_url: /life-now
    button_text: Learn More
photos:
  - photo_path: /images/photos/elisa-wall-1.jpg
  - photo_path: /images/photos/elisa-wall-2.jpg
  - photo_path: /images/photos/elisa-wall-3.jpg
  - photo_path: /images/photos/elisa-wall-4.jpg
  - photo_path: /images/photos/elisa-wall-5.jpg
---
{% include banner.html %}


<article style="text-align: center;" id="vision" class="featured-article">
	<!--<h3>About Me</h3>-->
	<p class="editable">Hello! I'm Elissa,  Mother of two, devoted lover of nature, and avid storyteller sharing my journey, learnings and ah-ha's of life.  I'm a novice entrepreneur, New York Best Selling Author, empowerment speaker, and advocate for the abused and disempowered.</p>
</article>



<div class="my-book">
	<section>
		<h2>My Book</h2>
		<a class="book" href="https://www.amazon.com/Stolen-Innocence-Polygamous-Becoming-Breaking/dp/0061628018/ref=sr_1_1?crid=3OWPGS4V5GMC5&keywords=Elissa+Wall&qid=1665618822&qu=eyJxc2MiOiIyLjQ5IiwicXNhIjoiMi4yMCIsInFzcCI6IjEuODIifQ%3D%3D&s=books&sprefix=elissa+wall%2Cstripbooks%2C159&sr=1-1">
			<img src="/images/photos/my-book.jpg" alt="" />
		</a>
		<br />
		<a class="button" href="https://www.amazon.com/Stolen-Innocence-Polygamous-Becoming-Breaking/dp/0061628018/ref=sr_1_1?crid=3OWPGS4V5GMC5&keywords=Elissa+Wall&qid=1665618822&qu=eyJxc2MiOiIyLjQ5IiwicXNhIjoiMi4yMCIsInFzcCI6IjEuODIifQ%3D%3D&s=books&sprefix=elissa+wall%2Cstripbooks%2C159&sr=1-1">Buy Now</a>
	</section>
</div>

<!--{% include alternating.html %}-->

<div class="as-seen-on">
	<ul>
		<h3>As Seen On:</h3>
		<li>
			<a href="https://www.oxygen.com/abuse-of-power/crime-time/flds-child-bride-elissa-wall-warren-jeffs" target="_blank">
				<img src="/images/as-seen-on/oxygen.jpg" alt="" />
			</a>
		</li>
		<li>
			<a href="#">
				<img src="/images/as-seen-on/good-morning-america.png" alt="" />
			</a>
		</li>
		<li>
			<a href="#">
				<img src="/images/as-seen-on/nbc.png" alt="" />
			</a>
		</li>
		<li>
			<a href="https://www.netflix.com/title/81292539" target="_blank">
				<img src="/images/as-seen-on/netflix.png" alt="" />
			</a>
		</li>
		<li>
			<a href="https://www.youtube.com/watch?v=rNUDZoa2azU" target="_blank">
				<img src="/images/as-seen-on/oprah.png" alt="" />
			</a>
		</li>
	</ul>
</div>

<!--{% include gallery.html %}-->


<script type="text/javascript">
	$(window).scroll(function(){
	    if ($(this).scrollTop() > 50) {
	       $('header').addClass('dark');
	    } else {
	       $('header').removeClass('dark');
	    }
	});
</script>


