---
layout: default
permalink: /
navtitle: Home
navclass: /
navorder: 1
hide_from_nav: true
banner_headline: Mireu Martial Arts
banner_logo_path: 
banner_animation: 
banner_image_path: /images/photos/banner.jpeg
banner_video_path: 
video_id:
features:
  - feature_title: 
    feature_image_path: 
    bg_image:
    feature_description_html: >-
      <p></p>
    button_url: #
    button_text: Learn More
photos:
  - photo_path:
---
{% include banner.html %}


<article style="text-align: center;" id="vision" class="featured-article">
	<!--<h3>About Me</h3>-->
	<p class="editable">Hello! I'm Elissa,  Mother of two, devoted lover of nature, and avid storyteller sharing my journey, learnings and ah-ha's of life.  I'm a novice entrepreneur, New York Best Selling Author, empowerment speaker, and advocate for the abused and disempowered.</p>
</article>




<!--{% include alternating.html %}-->

<script async src="https://js.stripe.com/v3/pricing-table.js"></script>
<stripe-pricing-table pricing-table-id="prctbl_1MGntyHKqYhpVBm3pXYl8J90"
publishable-key="pk_test_51MGn05HKqYhpVBm3temk2bv6Myb4OeqElmt2QDYrnukdFzxiH8aVyAU0nSLOMFF2fUsNYdjWID3vmOpzNiGQeatw004ChfUQtR">
</stripe-pricing-table>

<!--{% include gallery.html %}-->


<script type="text/javascript">
	$(window).scroll(function(){
	    if ($(this).scrollTop() > 50) {
	       $('header').addClass('dark');
	    } else {
	       $('header').removeClass('dark');
	    }
	});
</script>


