---
layout: default
permalink: /my-story
navtitle: My Story
navclass: /my-story
navorder: 1
hide_from_nav: false
banner_headline:
banner_logo_path: /images/logos/logo-2.svg
banner_animation: 
banner_image_path: /images/photos/elisa-wall-banner.jpg
banner_video_path: 
youtube_video_id: rNUDZoa2azU
---
{% include banner.html %}

{% include video-block.html %}

<article style="text-align: center;" id="vision" class="featured-article" class="editable">
	<h2>My Story</h2>
	<p>My life began as a child of a polygamist family who was members of the Morman offshoot sect known as the Fundamentalist Church of Jesus Christ of Latter-Day Saints (FLDS Church), which held the practice of polygamy central to their beliefs. Early in its history, the people of the FLDS broke away from mainstream society, and with each generation, members became more secluded and entrenched in the religious instruction of the leaders.</p>

 	<p>Childhood memories are filled with family picnics in the mountains away from the judging eyes of the world, putting on plays and musical performances for relatives, learning the many skills I would need to be a wife and mother, and attending the Church-run private school where alongside simple academics I was taught absolute obedience and faithfulness to our religion. The extent of control the church had in our lives was felt harshly in my family when my father was deemed "unworthy" by the leaders and my mothers were taken from my father to be remarried to other men. </p>

	<p>At the age of 14, I was forced l into an arranged marriage to my adult first cousin. Despite all the teaching and training I had received on my new role as wife, nothing could have prepared me for the sexual, physical, mental, and emotional abuse I experienced during the years trapped in the marriage. Shortly after my 18th birthday, I fled the only life I had known to start anew in the outside world. </p>

	<p>The deep love for the many people I had left behind and the concern for my younger sisters and their likely fate as child brides moved me to do whatever possible to protect them. Shortly after leaving the FLDS, I worked with law enforcement to bring criminal charges against cult leader Warren Jeffs. My testimony, along with those of other brave individuals, led to his conviction and imprisonment. By claiming my voice and sharing my story, I took back my power and set a new course for the future of the FLDS. </p>

	<p>In 2008 I published a New York Times Best Selling memoir entitled ‘Stolen Innocence’, detailing my experiences within the FLDS and my journey of breaking free from its physical and psychological bonds.</p>

 	<p>During the last decade and a half of freedom, real-world integration, and the long bumpy journey of healing, I have developed a true passion for self-discovery, education, and advocacy. Throughout these years, I have had the opportunity to walk alongside many friends and relatives as they, too, made their difficult and exhilarating journey of leaving the FLDS. Each one has inspired and motivated me to keep fighting for justice, being a voice for the disempowered, and advocating for better services and support to assist those transitioning out of high-demand religious cults. </p>

	<p>Today, I get to be the mother of two incredible teenagers who help me learn lessons I didn't know I needed and consistently inspire me to continue healing, growing, and showing up in this extraordinary life.  Five years ago, we packed up our lives and returned to the town I ran away from years before to join in a change, rebuilding, and healing movement. Together with other survivors, we are rising out of the ashes left behind in the wake of the tumultuous past and sharing the lessons of our lives to build a resilient thriving community free of religious oppression. </p>
</article>

<script type="text/javascript">
	$(window).scroll(function(){
	    if ($(this).scrollTop() > 50) {
	       $('header').addClass('dark');
	    } else {
	       $('header').removeClass('dark');
	    }
	});
</script>


